@page
@model UserBlacklistModel
@{
    ViewData["Title"] = "Blacklist";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to block user</p>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Blacklist a user, by selecting it and press block.</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.userName"></label>
                <input asp-for="Input.userName" class="form-control" />
                <span asp-validation-for="Input.userName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.userId"></label>
                <select asp-for="Input.userId" asp-items="Model.listUsers" class="form-control"></select>
                <span asp-validation-for="Input.userId" class="text-danger"></span>
            </div>

            <hr />
            <button type="submit" class="btn btn-primary">Block</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}