@page
@model DAB_NoSQL_assignment.ProfileModel

<h1>Profile</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5>Create a new post or show posts from entered user</h5>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="postBoundProperty.PostOwner"> Owner of Posts</label>
                <input asp-for="postBoundProperty.PostOwner" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="postBoundProperty.Text"></label>
                <input asp-for="postBoundProperty.Text" class="form-control" />
            </div>
            <hr />
            <button type="submit" class="btn btn-primary" asp-page-handler="PostComment">Create a Post</button>
            <button type="submit" class="btn btn-primary" asp-page-handler="ShowComment">Show Posts</button>
        </form>
    </div>
</div>


<h5>List of Posts</h5>
<table>
    <tr>
        <th>PostOwner</th>
        <th>Text</th>
    </tr>

    @if (Model.postList != null && Model.userList != null)
    {
        @foreach (var post in @Model.postList)
        {
            <tr>
                <td>@Model.userList[0].Name</td>
                <td>@post.Text</td>
            </tr>
        }
    }

</table>



